.home {
    padding: 32px 0;
    background-color: #F5F5F5;


    &__wrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 32px;

        @include sm {
            margin-bottom: 3.5rem;
        }
    }
}