.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 40px;

    @include sm {
        padding: 0 16px;
    }

    @include lg{
        padding: 0 25px;
    }
}